ion-input {
  display: inline-block;
  width: 49%;
}
.image {
  width: 50px;
  margin-left: 0px;
}
.titre {
  font-family: "Rouge Script", cursive;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}
.texte {
  font-family: "Julius Sans One", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
}
