<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <ion-list lines="full">
        <ion-item>
            <ion-icon *ngIf="mode==1" slot="start" icon="moon"></ion-icon>
            <ion-icon *ngIf="mode==0" slot="start" icon="sunny"></ion-icon>
            <ion-card-title style="font-weight: bold;" slot="end" *ngIf="mode==1">Sombre</ion-card-title>
            <ion-card-title style="font-weight: bold;" slot="end" *ngIf="mode==0">Clair</ion-card-title>
            <ion-toggle slot="end" (ionChange)="changeTheme($event)"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-content>
        <ion-card-content>
            <ion-card-title class="titre">VoyageInfos</ion-card-title>
            <br/>
            <ion-img src="../../assets/img/logo.png" class="image"></ion-img>
            <br/>
            <ion-card-subtitle class="texte">Trouvez votre voyage rapidement avec VoyageInfos.</ion-card-subtitle>
            <br/>
            <ion-button expand="block" (click)="start()" class="texte">Commencer</ion-button>
        </ion-card-content>
    </ion-content>
</ion-content>
